{%extends "layout.html"%}
{%block title%} this is best{%endblock%}

{%block content%} 
<h3>Mail sending app </h3>
<form action="{{url_for('send_message')}}" method="POST">
     <input type="email" name="email" placeholder="Email" >
   <!--  <input type="email" name="Sender_Email" placeholder="Sender's Email" >-->
     <input type="text" name="subject" placeholder="Subject">
     <textarea name="message" id="" cols="30" placeholder="Message body" required rows="10"></textarea>
     <input type="submit" value="send message">
</form>

{%endblock content%}